### Operators
1. Arithmatic operatot ==> +, -, *, / //(floor division)<
2.  %(mod), **(power)

In [6]:
a = 100
b = 200
add =a+b
sub=a-b
mul=a*b
div =a/b
add
mul
print(add)
print(div)

300
0.5

# Floor division
it ignors the decimal value

In [7]:
a=10
b=20
fdiv=a//b
print(fdiv)

0

# # Modulus ==> remainder

In [13]:
# Modulus ==> remainder
a=10
b=4
mod= a % b
print(mod)

2

 # **(power)

In [14]:
a=100
pow = a**2

In [15]:
print(pow)

10000

In [20]:
n1=input("enter the first number:")
n2=input("enter the second number:")
sum = n1+n2

enter the first number: 23.55
enter the second number: 4555.888

In [23]:
print (f"the sum of a and b is :{sum}")

the sum of a and b is :23.554555.888

# Assignment Operatot ==> +=, -=, *=, /=, //=, %=, **=

In [28]:
a = 100
a+= 100 #a= a+100
a-=200 
a*=5 #a=a*5
a/=5
print (a)

0.0

# Comparision Operator ==> ==, != ,>=, <=, <, >

In [30]:
print(10==10)
print(10 == '10')
print(10 != '10')

True
False
True

# Logical Operator

In [32]:
#==> and, or, not

In [36]:
print(True and True)
print(True and False)
print(False and False)
print('---------------------------')
print(True or False)
print(True or False)
print(False or False)

True
False
False
---------------------------
True
True
False

Membership Operator ==.in, not in

In [38]:
print('s' in 'python')
print('p' in 'python')
print('P' in 'python')

False
True
False

# Special Operator ==. is , is not

In [40]:
print (10 is 10)
print(10 is not 10)

True
False

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\user\AppData\Local\Temp\ipykernel_5220\2898336956.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print (10 is 10)
C:\Users\user\AppData\Local\Temp\ipykernel_5220\2898336956.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(10 is not 10)

In [41]:
fruits = ['apple', 'banana']
print('apple' in fruits)

True