# In this i am learning output and input .

### Output

In [2]:
#for display the output we use print() fucntion 
print("hi every one")

hi every one

In [3]:
# for displying number output there is no need for "" .
print(44455)

44455

### Input

In [4]:
input('enter your age:')

enter your age: 21

'21'

### Datatypes

In [7]:
#Datatypes
#NON primitive datatypes
# 1. List==> collection of data that is mutable==>[]
#2. Tuple ==> collection of data that is immutable ==> ()
#3.Set ==> unorder collection of unique elements ==> {}
#4. Dictionary (dict) ==> collection of data inkey-value pair ==>

# Variables

In [8]:
# a programmer-chosen name that is like a container which can 
# store any types of data
#cariable name convention:
#1.must start with alphabets os underscore(_) followed by numbers
#3. must be unique
#4. we should not use whitespaces,keyword , and special character.
#4. we should follow some case format to name variable such as: 
    # camelcase ==>firstName, lastName
    # PascalCase ==>FirstName, LastName
    # snake_case ==> First_name , Last_name

In [10]:
x = 20
# here x is variables 
# = assigment operator
print(x)
type(x)

20

int

In [13]:
#list 
fruits =['apple','banana','grape']
print(fruits)
type(fruits)

['apple', 'banana', 'grape']

list

In [14]:
#tuple
fruits= ('apple','banana','grape')
print(fruits)
type(fruits)

('apple', 'banana', 'grape')

tuple

In [15]:
#set
number = {1,2,3,4,5,}
print(number)
type(number)

{1, 2, 3, 4, 5}

set

In [16]:
#Dictionary

In [19]:
student = { 
    'name': 'sirish',
    'age': 25,
    'home':'bihar',
    'fav sub':['cg','math','bio',]
}
print(student)
type(student)

{'name': 'sirish', 'age': 25, 'home': 'bihar', 'fav sub': ['cg', 'math', 'bio']}

dict

In [22]:
name = input("enter your name:")
print("welcome",name)
type(name)

enter your name: dibas

welcome dibas

str

In [29]:
name='mahesh'
age=25
address ="lalitpur"
print(f"my name is {name}lives in {address} and i am {age} year old")
print ("my name is{} iam {} years old and i live in {}".format()

my name is maheshlives in lalitpur and i am 25 year old

### Type conversion
1.implicit type conversion ==> Automatic type conversion
 2.Explicit type conversion ==> Manually have to change the types

In [4]:
age = float(input("enter your age:"))
print(age)
type(age)

enter your age: 10

10.0

float